%center
  %h1 Import Results
  = button_to 'upload another file', action: 'index'
  %br
  %table
    %tr
      = "#{ @total_row_count.to_s } records parsed in  #{ @time.round(2).to_s } seconds (~#{ (@total_row_count/@time).round } records/s)"
    %tr
      %th
        Entries Successfully Parsed
      %td
        = @created_count
    %tr
      %th
        Total Entries
      %td
        = @total_row_count
    %tr
      %th
        Headers
      %td
        %ul
          = @headers.join ', '
    %tr
      %th
        Errors
      %td
        %ul
          - @errors.each do |error|
            %li
              = error

